export(FuzzyNumber)
export(TrapezoidalFuzzyNumber)
exportClasses(FuzzyNumber)
exportClasses(TrapezoidalFuzzyNumber)
exportMethods(alphacut)
exportMethods(ambiguity)
exportMethods(core)
exportMethods(distance)
exportMethods(evaluate)
exportMethods(expectedInterval)
exportMethods(expectedValue)
exportMethods(plot)
exportMethods(show)
exportMethods(supp)
exportMethods(trapezoidalApproximation)
exportMethods(value)
exportMethods(weightedExpectedValue)
exportMethods(width)
